body{
    background-color: #044343!important;
}

.card-body {
    background-color: #f0ece2!important;
}

#profile-wrapper{
    text-align: center;
}

#profile-pic{
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

ul{
    padding: 0;
    list-style-type: none;
}

.social-links ul, li{
    list-style-type: none;
    display: inline-block;
}

.social{
    margin-right: 0.5em;
}

.p-body{
    text-align: justify;
}

#profile-pic{
    border-width:2px!important;
    border-color: blue;
}